@model hallodoc_mvc_Repository.ViewModel.AdminRecord
@{
    ViewBag.tab = "partners";
  
    var c = Model.PgCount;
    var page = ViewBag.page;

}
<div class="table-responsive">
<table class="table d-md-table d-none">
    <thead>
        <tr class="bg-light text-muted h-100">

            <th scope="col">No.</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Created Date</th>
            <th scope="col">Notes</th>
            <th scope="col">IsActive</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @{
            var no = 1;
        }
        @foreach (var data in Model.blockRequests)
        {
            <tr>

                <td>@no</td>

                <td> @data.Request.RequestClients.First().FirstName @data.Request.RequestClients.First().LastName  </td>
                <td> @data.PhoneNumber </td>
                <td> @data.Email </td>
                <td> @data.Request.CreatedDate </td>
                <td>@data.Reason</td>
                <td><input type="checkbox" asp-for=@data.IsActive[0] /></td>
                <td>
                    <button class="btn btn-outline-info" onclick="DeleteAccount(@data.BlockRequestId)">Unblock</button>
                    <div class="modal fade" id="a-@data.BlockRequestId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Unblock Account</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure want to Unblock this account?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    <a asp-action="UnblockAccount" asp-route-id="@data.Request.RequestId" class="btn btn-success">Yes,Unblock</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            no++;
        }

    </tbody>


</table>

    <div class="accordion accordion-flush d-md-none mt-3" id="accordionFlushExample">
        @foreach (var item in Model.blockRequests)
        {

            String Id = 'a' + @item.BlockRequestId.ToString();

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#@Id" aria-expanded="false" aria-controls="flush-collapseOne">

                        <div class="d-block">
                            <p class="fw-bold"> @item.Request.RequestClients.First().FirstName @item.Request.RequestClients.First().LastName </p>
                            <p>Email: @item.Email</p>

                        </div>

                    </button>
                </h2>

                <div id="@Id" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-telephone text-info" viewBox="0 0 20 20">
                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                            </svg>
                            <span> Patient: @item.PhoneNumber</span>
                        </div>

                        <div class="mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" 20height="23" fill="currentColor" class="bi bi-calendar-check text-info" viewBox="0 0 20 20">
                                <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                            </svg>
                            <span> Created Date: @item.CreatedDate</span>
                        </div>

                        <div class="mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text text-info" viewBox="0 0 16 16">
                                <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
                                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                            </svg>
                            <span>  Notes: @item.Reason</span>
                        </div>

                        <div class="mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-check-circle text-info" viewBox="0 0 20 20">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                            </svg>
                            <span>Is Active: <input type="checkbox" class="" asp-for=@item.IsActive[0] /></span>
                           
                        </div>

                        <div class="text-end">
                            <button class="btn border-info text-info" onclick="DeleteAccount(@item.BlockRequestId)">Unblock</button>
                            <div class="modal fade" id="a-@item.BlockRequestId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Unblock Account</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure want to Unblock this account?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <a asp-action="UnblockAccount" asp-route-id="@item.Request.RequestId" class="btn btn-success">Yes,Unblock</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
<nav aria-label="..." style="display:flex; justify-content:center; margin-top:10px;">

    <input type="hidden" id="page" />
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true" onclick="pagein(@(page-1))">Previous</a>
        </li>

        @if (page - 1 > 0)
        {
            <li class="page-item"><a class="page-link " href="#" onclick="pagein(@(page-1))">@(page - 1)</a></li>
        }

        <li class="page-item"><a class="page-link active" href="#" onclick="pagein(@(page))">@(page)</a></li>

        @if (page * 10 < c)
        {
            <li class="page-item" aria-current="page">
                <a class="page-link" href="#" onclick="pagein(@(page+1))">@(page + 1)</a>
            </li>
        }

        @if (page * 10 < c)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="pagein(@(page+1))">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        }
    </ul>
</nav>
<script>

    function pagein(page) {
        Emailtbl(page);
    }

    function DeleteAccount(id) {


        const modal = new bootstrap.Modal(document.getElementById('a-' + id));
        modal.show();
    }


</script>







