@model IEnumerable<hallodoc_mvc_Repository.ViewModel.Scheduling>

@{
    int currentday = (int)Model.First().CurrentDate.DayOfWeek;
}

<h4 class="mt-4"> @Model.First().CurrentDate.AddDays(-currentday).ToString("MMM, dd") -  @Model.First().CurrentDate.AddDays(6-currentday).ToString("MMM, dd")</h4>

<div class="d-flex justify-content-end">
    <div class="mx-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" style="color:lightpink" class="bi bi-square-fill" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z" />
        </svg>
        <span>Pending Shifts</span>
    </div>
    <div class="ms-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" style="color:lightgreen" class="bi bi-square-fill" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z" />
        </svg>
        <span>Approved Shifts</span>
    </div>
</div>

<div class="d-flex justify-content-between mt-4">
    <div>
        <button type="button" class="btn btn-info text-white rounded-circle" onclick="AddDate(@Model.FirstOrDefault().CurrentDate.AddDays(-7).Day,@Model.FirstOrDefault().CurrentDate.AddDays(-7).Month,@Model.FirstOrDefault().CurrentDate.AddDays(-7).Year)">&lt;</button>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar2-week mx-2" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z" />
            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
        </svg>
        <button type="button" class="btn btn-info text-white rounded-circle" onclick="AddDate(@Model.FirstOrDefault().CurrentDate.AddDays(7).Day,@Model.FirstOrDefault().CurrentDate.AddDays(7).Month,@Model.FirstOrDefault().CurrentDate.AddDays(7).Year)">&gt;</button>
    </div>

    <ul class="nav nav-pills mb-3 schedulingbtn gap-2" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link  btn btn-info" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="false" onclick="Shifttab(1)">Day</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-profile-tab btn btn-info" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="true" onclick="Shifttab(2)">Week</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab btn btn-info" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false" onclick="Shifttab(3)">Month</button>
        </li>
    </ul>  
</div>

<div class="table-responsive rounded">
    <table class="table table-b table-bordered" style="width:100%;z-index:5">
        <colgroup>
            <col style="width:16%"; />    
        </colgroup>
        <thead class="dayshiftheader">
            <tr style="background-color: lightgray;">
                <th class="text-center">STAFF</th>
                @for(int i = 0; i < 7; i++)
                {
                    <th>@Model.First().CurrentDate.AddDays(i-currentday).ToString("ddd dd")</th>
                }

            </tr>
        </thead>

        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td class="d-flex" style="height:75px">
                        <div class="me-2 text-center" style="width:40px;height:40px">
                            @if (item.Physicians.Photo != null)
                            {
                                <img class="w-100 h-100 border rounded-5" src="~/PhysicianDoc/@item.Physicians.PhysicianId/Photo.svg" />
                            }
                            else
                            {
                                <img class="w-100 h-100 border rounded-5" src="~/SRSScreenShorts/doc.png" />
                            }
                           </div>
                        <div>@item.Physicians.FirstName @item.Physicians.LastName</div>
                     </td>

                    @for(int i = 0; i < 7; i++)
                    {
                        var day = Model.First().CurrentDate.AddDays(i).Day;
                      
                        if (item.shifts.Any(x => x.ShiftDate.Day == day))
                        {
                            <td>@item.shifts.First(x => x.ShiftDate.Day == day).ShiftDetailId</td>
                        }
                        else   
                        {
                            <td></td>
                        }
                    }       
                </tr>
            }
        </tbody>
    </table>
</div>




<script>
    function AddDate(day, month, year) {
        $.ajax({
            url: `/Admin/Shifttab`,
            type: 'POST',
            dataType: 'html',
            data: { id: 2, day: day, month: month, year: year },
            // Pass your data here
            success: function (response) {
                $("#ShiftTableContainer").html(response)
            },
            error: function () {
                alert('An error occurred.');
            }
        });

    }
</script>